*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

body {
  margin: 0;
  display: block;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
